/* ref: https://devblog.thebase.in/entry/2023/12/01/110000 */
.snow-container {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100dvh;
    z-index: -1;
}
.snow-container .snow span,
.snow-container .snow::before,
.snow-container .snow::after {
    position: absolute;
    width: 100%;
    height: 100%;
    color: snow;
    text-align: center;
}
.snow-container .snow.small {
    font-size: 1.2rem;
    opacity: 1;
}
.snow-container .snow.medium {
    font-size: 1.4rem;
    opacity: 0.8;
}
.snow-container .snow.large {
    font-size: 1.6rem;
    opacity: 0.6;
}

.snow-container .snow.small span {
    display: block;
    animation: fall-small 7s linear infinite;
}
.snow-container .snow.small::before {
    content: "❄";
    left: -30%;
    animation: fall-small 9s linear infinite;
}
.snow-container .snow.small::after {
    content: "❄";
    left: 30%;
    animation: fall-small 13s linear infinite;
}

.snow-container .snow.medium span {
    display: block;
    left: 10%;
    animation: fall-medium 8s linear infinite;
}
.snow-container .snow.medium::before {
    content: "❄";
    left: -40%;
    animation: fall-medium 10s linear infinite;
}
.snow-container .snow.medium::after {
    content: "❄";
    left: 40%;
    animation: fall-medium 6s linear infinite;
}

.snow-container .snow.large span {
    display: block;
    left: -10%;
    animation: fall-large 5s linear infinite;
}
.snow-container .snow.large::before {
    content: "❄";
    left: -35%;
    animation: fall-large 6s linear infinite;
}
.snow-container .snow.large::after {
    content: "❄";
    left: 35%;
    animation: fall-large 7s linear infinite;
}
.snow-container .snow.large span::before {
    content: "❄";
    position: absolute;
    left: -80%;
    animation: fall-large 8s linear infinite;
}
.snow-container .snow.large span::after {
    content: "❄";
    position: absolute;
    left: 80%;
    animation: fall-large 9s linear infinite;
}

@keyframes fall-small {
    0% {
    top: -20px;
    }
    3% {
    transform: translateX(5px);
    }
    7% {
    transform: translateX(5px);
    }
    18% {
    transform: translateX(-5px);
    }
    22% {
    transform: translateX(-5px);
    }
    38% {
    transform: translateX(13px);
    }
    42% {
    transform: translateX(13px);
    }
    58% {
    transform: translateX(-13px);
    }
    62% {
    transform: translateX(-13px);
    }
    78% {
    transform: translateX(13px);
    }
    82% {
    transform: translateX(13px);
    }
    100% {
    top: calc(100% + 20px);
    }
}

@keyframes fall-medium {
    0% {
    top: -200px;
    }
    3% {
    transform: translateX(5px);
    }
    7% {
    transform: translateX(5px);
    }
    18% {
    transform: translateX(-5px);
    }
    22% {
    transform: translateX(-5px);
    }
    38% {
    transform: translateX(13px);
    }
    42% {
    transform: translateX(13px);
    }
    58% {
    transform: translateX(-13px);
    }
    62% {
    transform: translateX(-13px);
    }
    78% {
    transform: translateX(13px);
    }
    82% {
    transform: translateX(13px);
    }
    100% {
    top: calc(100% + 20px);
    }
}

@keyframes fall-large {
    0% {
    top: -300px;
    }
    3% {
    transform: translateX(5px);
    }
    7% {
    transform: translateX(5px);
    }
    18% {
    transform: translateX(-5px);
    }
    22% {
    transform: translateX(-5px);
    }
    38% {
    transform: translateX(13px);
    }
    42% {
    transform: translateX(13px);
    }
    58% {
    transform: translateX(-13px);
    }
    62% {
    transform: translateX(-13px);
    }
    78% {
    transform: translateX(13px);
    }
    82% {
    transform: translateX(13px);
    }
    100% {
    top: calc(100% + 20px);
    }
}